/*------------------------------------I N D E X-----------------------------------------*/

/*Hero section*/
.hero {
    width: 100%;
    height: calc(100vh - 250px);
    background-image: url(../img/hero_banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 36px;
    flex-direction: column;
    @extend %flex;

    @keyframes slidein {
        from {
            margin-top: 50%;
            width: 100%;
        }

        to {
            margin: 0px;
            width: 100%;
        }
    }

    h1 {
        border: 2px $color-primario solid;
        font-size: nth($font-size, 5);
        padding: 12px;
        margin-bottom: 32px;
        display: inline-block;
        @include typo (Montserrat, 600, center, $color-primario)
    }

    p {
        font-size: nth($font-size, 2);
        margin-bottom: 32px;
        @include typo (Montserrat, 400, center, $color-primario)
    }

    a {
        text-decoration: none;
        background-color: $color-primario;
        font-size: nth($font-size, 1);
        padding: 12px;
        border-radius: 24px;
        transition: 0.5s;
        @include typo (Montserrat, 400, center, $color-terciario);

        &:hover {
            color: $color-primario;
            background-color: $color-secundario
        }

    }
}


/*Cards*/
.producto {
    background-color: $color-primario;
    padding-top: 16px;

    h2 {
        font-size: nth($font-size, 4);
        @include typo (Montserrat, 600, center, $color-secundario)
    }

    .card {
        @extend %flex;
        flex-wrap: wrap;
        background-color: $color-primario;

        div {
            width: 250px;
            height: 470px;
            margin: 20px;
            text-align: center;
            background-color: $color-terciario;
            border-radius: 14px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    img {
        width: 250px;
        height: 375px;
        padding: 16px;
    }

    h3 {
        font-size: nth($font-size, 3);
        padding-bottom: 12px;
        @include typo (Montserrat, 600, center, $color-secundario)
    }

    .boton {
        text-decoration: none;
        color: $color-terciario;
        background-color: $color-primario;
        font-size: nth($font-size, 1);
        padding: 12px;
        border-radius: 24px;

        &:hover {
            color: $color-primario;
            background-color: $color-secundario;
            transition: 0.5s;
        }

        &:active {
            background-color: $color-secundario;
            color: $color-primario;
        }
    }
}



/*WA*/
.position {
    position: fixed;
    bottom: 100px;
    right: 50px;

    img {
        width: 60px;
    }
}

/*Video*/
.video {
    padding-top: 36px;
    padding-bottom: 28px;
    background-image: url(../img/banner-videobck.jpg);
    background-position: center;
    @extend %flex;
    flex-direction: column;

    h2 {
        font-size: nth($font-size, 4);
        padding-left: 16px;
        padding-right: 16px;
        @include typo (Montserrat, 600, center, $color-primario)
    }

    p {
        font-size: nth($font-size, 2);
        padding-left: 16px;
        padding-right: 16px;
        @include typo (Montserrat, 400, center, $color-primario)
    }
}

/*------------------------------------N O S O T R O S-----------------------------------------*/
.main-nosotros {
    h1 {
        @include typo (Montserrat, 600, center, $color-primario);
        font-size: nth($font-size, 4);
        text-align: center;
        padding: 16px 16px 0px 16px;
    }

    p {
        @include typo (Montserrat, 400, center, $color-primario);
        font-size: nth($font-size, 2);
        color: $color-primario;
        padding: 8px 16px 0px 16px;
    }
}

/*Galeria*/
.grid-galeria {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 170px;
    gap: 16px;
    margin-bottom: 20px;

    .grid-item {
        box-shadow: 4px 4px 16px 2px rgb(187, 187, 187);
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            &:hover {
                scale: 1.1;
                transition: 0.5s;
            }
        }

        .img-4 {
            grid-column: span 2;
        }

        .img-6 {
            grid-row: span 2;
        }

        .img-8 {
            grid-row: span 2;
        }
    }
}

/*Cards calidad*/
.main-nosotros {
    h2 {
        @include typo (Montserrat, 600, center, $color-primario);
    }
}

.card-nosotros {
    @include typo (Montserrat, 400, center, $color-primario);
    @extend %flex;
    gap: 40px;
    font-size: nth($font-size, 4);

    .card-calidad {
        justify-items: center;
        align-content: center;
        background-color: $color-terciario;
        border-radius: 16px;
        border: 2px $color-primario solid !important;
        border-style: none;
        width: 400px;
        padding: 8px;
        margin-bottom: 4px;

        img {
            width: 72px;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }

        div {
            p {
                @include typo (Montserrat, 400, center, $color-primario);
                font-size: nth($font-size, 2);
                margin-bottom: 8px;
            }
        }
    }
}

/*Newsletter*/
.form-newsletter {
    @include typo (Montserrat, 400, center, $color-primario);
    padding: 8px;
    margin: 36px;
    background-color: $color-secundario;
    border-radius: 16px;

    form {
        div {
            h3 {
                @include typo (Montserrat, 600, center, $color-primario);
            }
        }

        .form-group {
            padding: 8px;
            text-align: left;

            label {
                font-size: nth($font-size, 3);
            }
        }

        .btn-primary {
            background-color: $color-primario;
            color: $color-terciario;
            border-radius: 12px;
            border-color: $color-primario;
        }
    }
}

/*------------------------------------P R O D U C T O S-----------------------------------------*/

.enviogratis {
    @extend %flex;
    background-color: $color-secundario;
}

.seccion-producto {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-top: 16px;
    background-color: $color-terciario;

    h2 {
        @include typo (Montserrat, 600, center, $color-primario);
        font-size: nth($font-size, 4);
    }

    .card-seccionproducto {
        @extend %flex;
        flex-wrap: wrap;
        background-color: $color-terciario;

        div {
            width: 250px;
            height: 470px;
            @include typo (Montserrat, 400, center, $color-terciario);
            font-size: nth($font-size, 3);
            margin: 20px;
            background-color: $color-primario;
            border-radius: 14px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    img {
        width: 250px;
        height: 375px;
        padding: 16px;
    }

    h3 {
        font-size: nth($font-size, 3);
        padding-bottom: 12px;
        @include typo (Montserrat, 600, center, $color-terciario);
    }

    .boton-seccionproducto {
        text-decoration: none;
        color: $color-primario;
        background-color: $color-secundario;
        font-size: nth($font-size, 1);
        padding: 12px;
        border-radius: 24px;

        &:hover {
            color: $color-primario;
            background-color: $color-terciario;
            transition: 0.5s;
        }

        &:active {
            background-color: $color-secundario;
            color: $color-primario;
        }
    }
}

.seccion-producto-bebida {
    padding-top: 16px;
    background-color: $color-primario;

    h2 {
        @include typo (Montserrat, 600, center, $color-secundario);
        font-size: nth($font-size, 4);
    }

    .card-seccionproducto {
        @extend %flex;
        flex-wrap: wrap;
        background-color: $color-primario;

        div {
            width: 250px;
            height: 350px;
            @include typo (Montserrat, 400, center, $color-primario);
            font-size: nth($font-size, 3);
            margin: 20px;
            background-color: $color-terciario;
            border-radius: 14px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    img {
        width: 250px;
        height: 250px;
        padding: 16px;
    }

    h3 {
        font-size: nth($font-size, 3);
        padding-bottom: 12px;
        @include typo (Montserrat, 600, center, $color-primario);
    }

    .boton-seccionproducto {
        text-decoration: none;
        color: $color-terciario;
        background-color: $color-primario;
        font-size: nth($font-size, 1);
        padding: 12px;
        border-radius: 24px;

        &:hover {
            color: $color-primario;
            background-color: $color-secundario;
            transition: 0.5s;
        }

        &:active {
            background-color: $color-primario;
            color: $color-secundario;
        }
    }
}


/*------------------------------------S E R V I C I O S-----------------------------------------*/

.main-servicios {
    div {
        div {
            h1 {
                @include typo (Montserrat, 600, left, $color-primario);
                font-size: nth($font-size, 5);
                padding: 6px 12px 6px 12px;
            }

            p {
                @include typo (Montserrat, 400, left, $color-primario);
                font-size: nth($font-size, 2);
                padding: 6px 12px 6px 12px;
            }
        }

        div {
            img {
                width: 100%;
            }
        }
    }
}

section {
    h2 {
        font-size: nth($font-size, 4);
        @include typo (Montserrat, 600, center, $color-secundario)
    }
}

.grid-galeria-servicios {
    margin-bottom: 20px;
    display: grid;
    grid-auto-rows: 170px;
    gap: 16px;
    background-color: $color-secundario;
    align-items: center;
    justify-content: center;
    padding: 24px;

    .grid-item-servicios {
        position: relative;

        img {
            width: 90%;
            height: 90%;
            object-fit: cover;
            border-radius: 24px;
            box-shadow: 4px 4px 16px 2px rgb(172, 172, 172);

            &:hover {
                scale: 1.1;
                transition: 0.5s;
            }
        }
    }
}

.form-servicios {
    form {
        background-color: $color-primario;
        padding: 12px;
        div {
            h3 {
                @include typo (Montserrat, 600, center, $color-secundario);
                font-size: nth($font-size, 4);
                margin-top: 6px;
                margin-bottom: 6px;
            }
        }
    }
}

.form-groupservicios {
            background-color: $color-terciario;
            align-content: center;
            margin-top: 16px;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 30px;
            border: 2px $color-primario solid !important;
            padding: 24px;
            border-radius: 16px;
            div {
                text-align: left;
                margin-bottom: 8px;
            }
            .form-check {
                input {
                    padding: 8px;
                }
            }
            .btn-primary-servicios {
                background-color: $color-primario;
                color: $color-terciario;
                border-radius: 12px;
                border-color: $color-primario;

                &:hover {
                    color: $color-primario;
                    background-color: $color-secundario;
                    border-color: $color-secundario;
                    transition: 0.5s;
                }
            }
        }

        /*------------------------------------C O N T A C T O-----------------------------------------*/

        .titulo-formcontacto{
            h1{
                @include typo (Montserrat, 600, center, $color-primario);
                font-size: nth($font-size, 4);
                margin-top: 12px;
            }
        }

        .form-contacto{
            margin: 28px;
            div{
                button{
                    background-color: $color-secundario !important;
                    border-color: $color-secundario !important;
                    color: $color-primario;
                    border-radius: 12px;
                    &:hover {
                        color: $color-terciario !important;
                        background-color: $color-primario !important;
                        border-color: $color-primario !important;
                        transition: 0.5s;
                    }
                }
            }
            
        }

        .contenedor-mapa{
            background-color: $color-primario;
            padding: 16px;
            .titulo-mapa{
                h2{
                    @include typo (Montserrat, 600, center, $color-secundario);
                    font-size: nth($font-size, 4);
                    background-color: $color-primario;
                }
            }
    
            .mapa {
                justify-content: center;
                align-items: center;
                display: flex;
                background-color: $color-primario;
                div {
                    iframe {
                        width: 100%;
                        height: 100%;
                        padding: 12px;
                    }
                }
            }
        }
