@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400&display=swap');

/*----RESET-----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.boton {
    text-decoration: none;
    color: white;
    background-color: #323232;
    font-size: 12px;
    padding: 12px;
    border-radius: 24px;
    &:active{
        background-color: #ffb7fe;
        color: #323232;
    }
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323232;
}